<%= turbo_frame_tag item do %>
  <div class="row border-bottom py-2">
    <div class="col-4">
      <%= l(item.begin_at) %>
    </div>

    <div class="col-4">
      <%= l(item.end_at) %>
    </div>

    <div class="col-4">
      <div class="d-flex justify-content-end">
        <%= link_to t('common.edit'),
                    [:edit, :manager, @employee, item],
                    class: 'btn btn-sm btn-outline-primary me-2' %>
        <%= button_to t('common.delete'),
                      [:manager, @employee, item],
                      method: :delete,
                      data: { turbo_confirm: t('common.delete_confirm') },
                      class: 'btn btn-sm btn-outline-danger' %>
      </div>
    </div>
  </div>
<% end %>
