<div class="d-flex justify-content-between">
  <h1><%= @employee.name %></h1>
  <div>
    <%= link_to t('common.back'), manager_path, class: 'btn btn-outline-secondary' %>
  </div>
</div>

<%= turbo_frame_tag 'shifts-and-attendances' do %>
  <div class="w-100 d-flex flex-column flex-xxl-row justify-content-between">
    <%= render 'list_frame',
               title: t('common.attendance_list'),
               item_name_symbol: :attendance,
               new_item: Attendance.new do %>

      <div id="attendances">
        <%= render partial: 'managers/employees/attendances/attendance',
                   collection: @attendances,
                   as: :attendance %>
      </div>
    <% end %>

    <%= render 'list_frame',
               title: t('common.shift_list'),
               item_name_symbol: :shift,
               new_item: Shift.new do %>

      <div id="shifts">
        <%= render partial: 'managers/employees/shifts/shift',
                   collection: @shifts,
                   as: :shift %>
      </div>
    <% end %>
  </div>
<% end %>
