<div class="d-flex justify-content-between">
  <h1>
    <%= @manager.store_name %>
  </h1>

  <div>
    <%= button_to t('common.change_setting'),
                  edit_manager_registration_path,
                  method: :get,
                  class: 'btn btn-outline-primary' %>
  </div>
</div>

<%# 各従業員の出勤時間のグラフ %>
<div class="card">
  <%= turbo_frame_tag 'attendances-chart' do %>
    <div class="card-header d-flex justify-content-between">
      <h2>出勤時間</h2>

      <%# 表示する間隔を日，週，月ごとに変更するボタン %>
      <div class="d-flex btn-group">
        <% %w[day week month].each do |span| %>
          <%= link_to t("datetime.prompts.#{span}"),
                      manager_path(date: @date, span:),
                      class: span == @span ? 'btn btn-primary' : 'btn btn-outline-primary' %>
        <% end %>
      </div>

    </div>

    <div class="card-body">
      <%# 前のデータを表示するボタン  %>
      <div class="d-flex justify-content-evenly">
        <%= link_to t('common.go_previous'),
                    manager_path(date: @previous_date, span: @span),
                    method: :get,
                    class: 'btn btn-outline-primary' %>

        <div class="d-flex">
          <%# 現在の表示しているデータの日付  %>
          <h3><%= @current_date_string %></h3>

          <%# 今日に戻るボタン %>
          <%= link_to t('common.back'),
                      manager_path(span: @span),
                      class: 'btn btn-outline-primary mx-4' %>
        </div>

        <%# 次のデータを表示するボタン  %>
        <%= link_to t('common.go_next'),
                    manager_path(date: @next_date, span: @span),
                    method: :get,
                    class: 'btn btn-outline-primary' %>
      </div>

      <%= column_chart @employees_attendances, suffix: t('datetime.prompts.minute') %>
    </div>
  <% end %>
</div>

<h2><%= t('common.employee_list') %></h2>

<ol class="list-group">
  <% for employee in @employees %>
    <li class="list-group-item">
      <%= link_to employee.name, manager_employee_path(employee) %>
    </li>
  <% end %>
</ol>
