<div class="d-flex justify-content-between">
  <h1>
    <%= @manager.store_name %>
  </h1>

  <div>
    <%= button_to t('common.change_setting'),
                  edit_manager_registration_path,
                  method: :get,
                  class: 'btn btn-outline-primary' %>
  </div>
</div>

<div class="card shadow">
  <%= turbo_frame_tag 'attendances-chart' do %>
    <div class="card-header d-flex justify-content-between">
      <div class="lead">
        <%= t('common.shift') %>・<%= t('common.attendance_time') %>
      </div>

      <div class="d-flex justify-content-center gap-3">
        <div class="lead"><%= date_pagination_current_span(@page) %></div>
        <%= date_pagination_go_back_current_nav(@page) %>
      </div>

      <%= date_pagination_span_nav @page %>
    </div>

    <div class="card-body">
      <div class="d-flex justify-content-end">
        <%= date_pagination_date_nav @page %>
      </div>

      <%= column_chart @graph_data, suffix: t('datetime.prompts.hours') %>

    </div>
  <% end %>
</div>

<h2><%= t('common.employee_list') %></h2>

<ol class="list-group">
  <% for employee in @employees %>
    <li class="list-group-item">
      <%= link_to employee.name, manager_employee_path(employee) %>
    </li>
  <% end %>
</ol>
