<div class="d-flex justify-content-between">
  <h1>
    <%= @manager.store_name %>
  </h1>

  <div>
    <%= button_to t('common.change_setting'),
                  edit_manager_registration_path,
                  method: :get,
                  class: 'btn btn-outline-primary' %>
  </div>
</div>

<%= render layout: 'concerns/span_pagination', locals: {
      turbo_frame_id: 'attendaces-chart',
      title: t('common.attendance_time')
    } do %>

  <%= column_chart @employees_attendances, suffix: t('datetime.prompts.minute') %>
<% end %>

<h2><%= t('common.employee_list') %></h2>

<ol class="list-group">
  <% for employee in @employees %>
    <li class="list-group-item">
      <%= link_to employee.name, manager_employee_path(employee) %>
    </li>
  <% end %>
</ol>
